!!! XML
!!! Strict

%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title Aeon
    
    =css_include_tag 'application'
  
  %body 
    =partial 'rooms/map'
    =catch_content :for_layout